<div id='contact' class='container-fluid' ng-controller='contactController'>
	<!-- <div class='row'>
		<div class='wrapper'>
			<div class='col-xs-12 col-sm-12 col-md-12'>
				<p id='contactFormHeader'>Websites &#149 Analytics &#149 Development &#149 Consultation</p>	
			</div>


			<div id='contactInfo' class='col-md-offset-2 col-md-8 col-xs-12 col-sm-12'>
				<div id='contactPhone'>
					<img src="./img/icons/phone.png" alt='phone-number' />
					<p>{{ phoneNumber }}</p>
				</div>

				<div id='contactEmail'>
					<img src="./img/icons/email.png" alt='email-address' />
					<p>{{ emailAddress }}</p>
				</div>
			</div>

			
			<div id='contactForm' class='row'>
				<div class='col-md-offset-2 col-md-4'>
					<input ng-model='formData.name' autofocus placeholder="Name"></input>            
					<input ng-model='formData.email' placeholder="Email"></input>
					<input ng-model='formData.subject' placeholder="Subject"></input>
				</div>

				<div class='col-md-4'>
					<textarea ng-model='formData.message' placeholder="Your Message Here"></textarea>
				</div>

				<div class='col-md-offset-2 col-md-8'>
					<button ng-class='result' ng-click='submit($event)'>Send</button>
				</div>

				<div ng-if='submitClicked' id='resultMessage' class='col-md-offset-2 col-md-8'>
					<p ng-class='result'>{{ resultMessage }}</p>
				</div>
			</div>
		</div>
	</div> -->
</div> <!-- container -->