<div class='col-md-12 container-fluid'>
    <div class='container-fluid group'>
        <label class='group-label'>Text</label>
        <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6 serif'>
        	<h1>Serif</h1>
	        <h1>Header 1</h1>
	        <h2>Header 2</h2>
	        <h3>Header 3</h3>
	        <h4>Header 4</h4>
	        <h5>Header 5</h5>
	        <h6>Header 6</h6>
	    </div>

	    <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6 sans'>
        	<h1>Sans</h1>
	        <h1>Header 1</h1>
	        <h2>Header 2</h2>
	        <h3>Header 3</h3>
	        <h4>Header 4</h4>
	        <h5>Header 5</h5>
	        <h6>Header 6</h6>
	    </div>

	    <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6 serif'>
	        <p>Lorem ipsum Elit quis aliqua ad laborum ex dolor et elit dolore velit labore veniam nostrud eu sit consectetur Excepteur in amet ex dolor sint esse tempor minim dolor voluptate et ex aute dolor dolor non esse voluptate non irure veniam esse pariatur culpa laboris sit ex in Ut cillum aliquip consectetur sint qui aliquip fugiat dolor fugiat adipisicing fugiat proident fugiat occaecat deserunt ut commodo ut cillum est consectetur nisi occaecat consectetur anim sit ut sint id ullamco reprehenderit id exercitation deserunt et id officia ea Duis anim reprehenderit commodo cupidatat consequat consequat ea fugiat esse aliqua et cillum in dolore dolore ut dolore quis non et veniam ex consequat aliqua dolore dolore cillum culpa ut sint elit dolore sint ad officia nostrud commodo adipisicing ut proident elit officia eu culpa laborum deserunt id nostrud.</p>
        </div>

        

	    <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6 serif'>
	        <p>Lorem ipsum Elit quis aliqua ad laborum ex dolor et elit dolore velit labore veniam nostrud eu sit consectetur Excepteur in amet ex dolor sint esse tempor minim dolor voluptate et ex aute dolor dolor non esse voluptate non irure veniam esse pariatur culpa laboris sit ex in Ut cillum aliquip consectetur sint qui aliquip fugiat dolor fugiat adipisicing fugiat proident fugiat occaecat deserunt ut commodo ut cillum est consectetur nisi occaecat consectetur anim sit ut sint id ullamco reprehenderit id exercitation deserunt et id officia ea Duis anim reprehenderit commodo cupidatat consequat consequat ea fugiat esse aliqua et cillum in dolore dolore ut dolore quis non et veniam ex consequat aliqua dolore dolore cillum culpa ut sint elit dolore sint ad officia nostrud commodo adipisicing ut proident elit officia eu culpa laborum deserunt id nostrud.</p>
        </div>
    </div>
    <hr>
    <div class='container-fluid group'>
        <label class='group-label'>Input</label>
        <div class='form-group col-xs-12 col-sm-12 col-md-6 col-lg-6'>
            <label>Text Input</label>
            <input type='text' />
            <small class='form-text text-muted'>class = form-text text-muted</small>
        </div>
        <div class='form-group col-xs-12 col-sm-12 col-md-6 col-lg-6'>
            <label>Password Input</label>
            <input type="password" />
        </div>
        <div class='form-group col-xs-12 col-sm-12 col-md-6 col-lg-6'>
            <label>Email</label>
            <input type="email" />
        </div>
        <div class='form-group col-xs-12 col-sm-12 col-md-6 col-lg-6'>
            <label>Number</label>
            <input type="number" />
        </div>
        <div class='form-group col-xs-12 col-sm-12 col-md-6 col-lg-6'>
            <label>Color</label>
            <input type="color" />
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <label>Select</label>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <label>Multiple Select</label>
            <select multiple class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <label>Example Text Area</label>
            <textarea class='form-control' rows='4'></textarea>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="input-group">
                <input class='form-control' type='text' />
                <span class='input-group-addon'>@hotmail.com</span>
            </div>
            <div class="input-group">
                <span class='input-group-addon'>$</span>
                <input class='form-control' type='number' />
                <span class='input-group-addon'>.00</span>
            </div>

            <div class='input-group'>
            	<span class='input-group-addon'><i class='glyphicon glyphicon-user'></i></span>
            	<input class='form-control' type="email">
            </div>

            <div class='input-group'>
            	<span class='input-group-addon'><i class='glyphicon glyphicon-lock'></i></span>
            	<input class='form-control' type="password">
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <label>File input</label>
            <input type="file" class="form-control-file">
            <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked> Option one is this and that&mdash;be sure to include why it's great
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2"> Option two can be something else and selecting it will deselect option one
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled> Option three is disabled
                </label>
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input"> Check me out
                </label>
            </div>
        </div>
    </div>
    <hr>
    <div class='container-fluid group'>
        <label class='group-label'>Buttons</label>
        <div class='form-group col-xs-12 col-sm-12 col-md-6 col-lg-6'>
            <button type="submit" class="btn btn-primary">Primary</button>
        </div>
        <div class='form-group col-xs-12 col-sm-12 col-md-6 col-lg-6'>
            <button type="submit" class="btn btn-info">Info</button>
        </div>
        <div class='form-group col-xs-12 col-sm-12 col-md-6 col-lg-6'>
            <button type="submit" class="btn btn-warning">Danger</button>
        </div>
        <div class='form-group col-xs-12 col-sm-12 col-md-6 col-lg-6'>
            <button type="submit" class="btn btn-danger">Warning</button>
        </div>
    </div>

    <!-- <div class='container-fluid group'>
        <label class='group-label'>Validation</label>
        <div class="form-group has-success">
            <label class="form-control-label">Input with success</label>
            <input type="text" class="form-control form-control-success" />
            <i class='glyphicon glyphicon-ok '></i>
            <small class="form-text text-muted">Example help text that remains unchanged.</small>
        </div>
        <div class="form-group has-warning">
            <label class="form-control-label" for="inputWarning1">Input with warning</label>
            <input type="text" class="form-control form-control-warning" id="inputWarning1">
            <small class="form-text text-muted">Example help text that remains unchanged.</small>
        </div>
        <div class="form-group has-danger">
            <label class="form-control-label" for="inputDanger1">Input with danger</label>
            <input type="text" class="form-control form-control-danger" id="inputDanger1">
            <small class="form-text text-muted">Example help text that remains unchanged.</small>
        </div>
    </div> -->

    <hr>

    <div class='container-fluid group'>
    	<label class='group-label'>Jumbotron</label>
    	<div class="jumbotron">
		 	<h1 class="display-3">Hello, world!</h1>
		  	<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
		  	<hr class="my-2">
		  	<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
		  	<p class="lead">
		    	<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		  	</p>
		</div>
    </div>

    <hr>

    <div class='container-fluid group'>
    	<label class='group-label'>Menus</label>
    	<div class='menu-one col-xs-12 col-sm-12 col-md-12 col-lg-12'>
    		<ul>
    			<li><a href="">One</a></li>
    			<li><a href="">Two</a></li>
    			<li><a href="">Three</a></li>
    			<li><a href="">Four</a></li>
    			<li><a href="">Five</a></li>
    		</ul>
    	</div>

    	<div class='menu-two col-xs-12 col-sm-12 col-md-12 col-lg-12'>
    		<ul>
    			<li><a href="">One</a></li>
    			<li><a href="">Two</a></li>
    			<li><a href="">Three</a></li>
    			<li><a href="">Four</a></li>
    			<li><a href="">Five</a></li>
    		</ul>
    	</div>
    </div>


    <div class='container-fluid group'>
        <label class='group-label'>Form Validation</label>
        
    </div>
</div>
